Welcome <%=  @user.name %>


  <%= link_to "Create New Event", new_event_path %>




<table>
  <tr>
    <td>Event name</td>
  </tr>
  <% @events.each do |event| %>
  <tr>
    
    <td><%= link_to event.name, event_path(event)%></td>  
    <td><%= event.budget%></td> 
    <td><%= link_to "Delete" , event_path(event), :method => :delete%></td>
  </tr>
   <%end%> 
</table>