Welcome <%=  @user.name %>

<h3><%= link_to "Click to create New Event!", new_user_event_url(@user) %></h3>





<table>
  <tr>
    <td>Event name</td>
    <td>Event Budget</td>
  </tr>
  <% @events.each do |event| %>
    <% if event.active %>
      <tr>
        <td><%= link_to event.name, user_event_path(@user,event)%></td>
        <td><%= event.budget%></td>
        <td><%= link_to "Delete" , user_event_path(@user, event), :method => :delete%></td>
        <td><a class="eventBrief" href="/users/<%=@user.id%>/events/<%=event.id%>.json">Event Brief</a>
      </tr>
      <tr>
        <td>
          <div id="briefedEvent<%=event.id%>" >

          </div>
          <div id="briefedGuest<%=event.id%>" >

          </div>
        </td>
      </tr>
    <%end%>
   <%end%>
</table>

<!-- <h3><%= link_to "Shopping List", users_shoppinglist_path %></h3> -->
<h3><%= link_to "Shopping List",user_path(@user),id: "shopping_list"  %></h3>

<br>

<% if @ended_events %>
  <h3>Ended Events</h3>
  <table>
    <tr>
      <td>Event name</td>
      <td>Event Budget</td>
    </tr>
    <% @ended_events.each do |event|%>
        <tr>
          <td><%= link_to event.name, user_event_path(@user,event)%></td>
          <td><%= event.budget%></td>
          <td><%= link_to "Delete" , user_event_path(@user, event), :method => :delete%></td>
          <td><a href="">Event Brief</a>
</td>
        </tr>
    <%end%>
  </table>
<% end %>
