<h1>Users#login</h1>
<p>Find me in app/views/users/login.html.erb</p>


<%= form_for @user do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %><br><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br><br>
  <%= f.submit "Login"%>
<% end %>