<h1>Users Signup</h1>


<!-Display Errors for user signup if error ->
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <% if  message != "Password digest can't be blank"%>
        <li><%= message %></li> 
      <%end%>
      <% end %>
    </ul>
  </div>
<% end %>


<p><a type="submit" href="/login">Login</a></p>

 <%= form_for  @user, controller: 'users', action: 'create'  do |f| %>

<%=f.label :name%>
<%= f.text_field :name %><br><br>

<%=f.label :email%>
<%= f.text_field :email%><br><br>


<%=f.label :password%>
<%= f.password_field :password%><br><br>

<%= f.submit "Create User" %>
<% end %>


<%= link_to('Log in with Facebook!', '/auth/facebook') %>