<h1>Users Signup</h1>


<!-Display Errors for user signup if error ->
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <% if  message != "Password digest can't be blank"%>
        <li><%= message %></li> 
      <%end%>
      <% end %>
    </ul>
  </div>
<% end %>



  <div class="form">
   <%= form_for  @user, controller: 'users', action: 'create' , :html => {:class => "foo"} do |f| %>

  <%= f.text_field :name, placeholder: "Name" %><br><br>

 
  <%= f.text_field :email, placeholder: "Email"%><br><br>



  <%= f.password_field :password, placeholder: "Password"%><br><br>
  <%= f.submit "Create User"%>

  <% end %>

<br><br>
<div class="fb-login">
  <%= button_to('Log in with Facebook', '/auth/facebook') %>
</div>

<br>



