<h1>Edit Event</h1>

<%= form_for @event, url:  events_create_path , :method => :POST do |f| %>
  <%= f.label :name%>
  <%= f.text_field :name%>

  <%= f.label :budget%>
  <%= f.number_field  :budget, class: :text_field, step: :any%>

  <%= f.submit "Update Event" %>
<%end%>