<h3>Event Creator -  <%=@user.name%></h3>


<!– EVENT INFO ->
<table align="center">
  <tr>
    <th>Event name</th>
    <th>Budget</th>
  </tr>
  <tr>
    <td><%= @event.name %></td>
    <td><%= number_to_currency(@event.budget)%></td>
</tr>
</table>

<br>

<!– List of EXPENSES  –>
<table align="center">
    <tr>
      <th>Name</th>
      <th>Cost</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>
  <% @expenses.each do |expense|%>
    <tr>
      <td><%= expense.name %></td> 
      <td><%= number_to_currency(expense.cost) %></td> 
      <td><%= expense.quantity %></td>
      <td><%= number_to_currency(expense.total) %></td>
    </tr>
  <%end%>
  </table>

<br><br>

<h3>Budget Balance <%= @difference%></h3> <br><br>  

<!– form to create expense for current event  –>
<%= form_for @expense, :url => url_for(:controller => 'expenses', :action => 'create') do |f|%>
  <%=f.label :name%>
  <%= f.text_field :name%>
  <%=f.label :cost%>
  <%= f.number_field :cost, class: :text_field, step: :any%>
  <%=f.label :quantity%>
  <%= f.number_field :quantity%>
  <%= f.hidden_field :event_id, :value => params[:id] %>
  <%= f.submit "Add expense "%>
<%end%>


