<h3>Event Creator -  <%=@user.name%></h3>
<br>

 <!–User events using Jquery–>
<div id="showEvents" class="data_block">
  <a href="/users/<%=@user.id%>/events.json" id="allEvents" type="submit">Show Events</a>
  <table></table>
</div>
<br><br>

<!– EVENT Active status ->
<% if @event.active  == true %>
    <h5>Event Status- Ongoing</h5>
   <%else%>
   <h5>Event Status- Over</h5>
 <%end%>

 <!–button to end event –>
 <div>
  <%if @event.active == false %>
  <%= link_to 'Continue Event', user_event_path(@user,@event), class: 'btn btn-success',method: :deactivate%>
  <%else%>
  <%= link_to 'End This Event', user_event_path(@user,@event), class: 'btn btn-danger',method: :deactivate%>
  <%end%>
</div>

<!– EVENT INFO ->
<div class="data_block", id="event_name">
  <table align="center">
    <tr>
      <th>Event name</th>
      <th>Budget</th>
      <th></th>
    </tr>
    <tr>
      <td><h4><%= @event.name %></h4></td>
      <td><h4><%= number_to_currency(@event.budget)%></h4></td>
      <td><h4><%= link_to "Edit Event", edit_user_event_path(@user, @event)%></h4></td>
  </tr>
</table>

<br>
</div>



<div class="data_block">

<!– List of EXPENSES  –>
<table align="center", id="expense_table">
    <tr>
      <th>Name</th>
      <th>Cost</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>
  <% @expenses.each do |expense|%>
    <tr >
      <td><%= expense.name %></td>
      <td><%= number_to_currency(expense.cost) %></td>
      <td><%= expense.quantity %></td>
      <td><%= number_to_currency(expense.total) %></td>
      <td><%= link_to "Edit", edit_user_event_expense_path(expense.event.user_id,expense.event_id,expense)%></td>
      <td><%= link_to "Delete" , user_event_expense_path(expense.event.user_id,expense.event_id,expense.id), :method => :delete%></td>
    </tr>
  <%end%>
  </table>

<br><br>

<h3>Budget Balance $<span id="budget_balance"><%= @difference%></span></h3> <br><br>

  <% if flash[:alert] %>
    <ul>
      <%flash[:alert].each do |message| %>
      <li>
      <div class="alert alert-danger">
        <%=message %>
      </div>
      </li>
      <%end%>
    </ul>
  <% end %>

  <% if flash[:message] %>
      <div class="alert alert-danger">
        <%=flash[:message] %>
      </div>
  <% end %>


<% if @event.active  == true %>

  <!– form to create expense for current event  –>
  <%= form_for @expense, :url => url_for(:controller => 'expenses', :action => 'create') do |f|%>
    <%=f.label :name%>
    <%= f.text_field :name%>
    <%=f.label :cost%>
    <%= f.number_field :cost, class: :text_field, step: :any %>
    <%=f.label :quantity%>
    <%= f.number_field :quantity, value: 1%>
    <%= f.hidden_field :event_id, :value => params[:id] %>
    <%= f.submit "Add expense", data: { disable_with: false } %>
  <%end%>
  <br>
</div>

  <!– Form for new guest  –>
  <div class="data_block">
    <div>
      <%= form_for @guest, url:  new_user_event_guest_path(@user,@event) do |f|%>
        <%= f.label :Guest %>
        <%= f.collection_select :id, Guest.all, :id, :name ,:include_blank => true%>
        <%f.label :name%>
        <%= f.text_field :name,  id: 'new_guest_name'%>
        <%= f.hidden_field :event_id, :value => params[:id] %>
        <%=f.submit "Add New Guest" %>
      <%end%>
    </div>

  <%end%>

  <h2>Guest List</h2>
    <ul id="guest_list">
      <%@guests.each do |guest|%>
        <li><%= link_to guest.name, guest_path(guest) %></li>
      <%end%>
    </ul>
  </div>
