<h3>Event Creator -  <%=@user.name%></h3>


<!– EVENT INFO ->
<table>
  <tr>
    <th>Event name</th>
    <th>Budget</th>
  </tr>
  <tr>
    <th><%= @event.name %></th>
    <th><%= @event.budget%></th>
</tr>
</table>

<br>

<!– List of EXPENSES  –>
<table>
    <tr>
      <th>Name</th>
      <th>Cost</th>
      <th>Quantity</th>
    </tr>
  <% @expenses.each do |expense|%>
    <tr>
      <td><%= expense.name %></td> 
      <td><%= expense.cost %></td> 
      <td><%= expense.quantity %></td>
    </tr>
  <%end%>
  </table>

<br><br>



<!– form to create expense for current event  –>
<%= form_for @expense, :url => url_for(:controller => 'expenses', :action => 'create') do |f|%>
  <%=f.label :name%>
  <%= f.text_field :name%>
  <%=f.label :cost%>
  <%= f.number_field :cost%>
  <%=f.label :quantity%>
  <%= f.number_field :quantity%>
  <%= f.hidden_field :event_id, :value => params[:id] %>
  <%= f.submit "Add expense "%>
<%end%>