<h3>Event Creator -  <%=@user.name%></h3>
<br>



<% if @event.active  == true %>
  <h5>Event Status- Ongoing</h5>
 <%else%>
 <h5>Event Status- Over</h5>
 <%end%>
 
 <!–User events–>
 <h3>All User Events</h3>
 <div>
    <table>
      <tr>
        <th class="eventName"></th>
        <th class="eventBudget"></th>
        <th ><a href="" class="eventLink">Link to Event</a></th>
      </tr>
    </table>
    <a href="#" class="js-next" data-id= 0 user-id="<%=@user.id%>">Next Event...</a>
 </div>


 <!–button to end event –>
 <div>
  <%if @event.active == false %>
  <%= link_to 'Continue Event', user_event_path(@user,@event), class: 'btn btn-success',method: :deactivate%>
  <%else%>
  <%= link_to 'End This Event', user_event_path(@user,@event), class: 'btn btn-danger',method: :deactivate%>
  <%end%>
</div>

<!– EVENT INFO ->
<table align="center">
  <tr>
    <th>Event name</th>
    <th>Budget</th>
    <th></th>
  </tr>
  <tr>
    <td><%= @event.name %></td>
    <td><%= number_to_currency(@event.budget)%></td>
    <td><%= link_to "Edit Event", edit_user_event_path(@user, @event)%></td>
</tr>
</table>

<br>


<!– List of EXPENSES  –>
<table align="center">
    <tr>
      <th>Name</th>
      <th>Cost</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>
  <% @expenses.each do |expense|%>
    <tr>
      <td><%= expense.name %></td> 
      <td><%= number_to_currency(expense.cost) %></td> 
      <td><%= expense.quantity %></td>
      <td><%= number_to_currency(expense.total) %></td>
      <td><%= link_to "Edit", edit_user_event_expense_path(expense.event.user_id,expense.event_id,expense)%></td>
      <td><%= link_to "Delete" , user_event_expense_path(expense.event.user_id,expense.event_id,expense.id), :method => :delete%></td>
    </tr>
  <%end%>
  </table>

<br><br>

<h3>Budget Balance <%= @difference%></h3> <br><br>  

  <% if flash[:alert] %>
    <ul>
      <%flash[:alert].each do |message| %>
      <li>
      <div class="alert alert-danger">
        <%=message %>
      </div>
      </li>
      <%end%>
    </ul>
  <% end %>

  <% if flash[:message] %>
      <div class="alert alert-danger">
        <%=flash[:message] %>
      </div>
  <% end %>


<% if @event.active  == true %>

  <!– form to create expense for current event  –>
  <%= form_for @expense, :url => url_for(:controller => 'expenses', :action => 'create') do |f|%>
    <%=f.label :name%>
    <%= f.text_field :name%>
    <%=f.label :cost%>
    <%= f.number_field :cost, class: :text_field, step: :any %>
    <%=f.label :quantity%>
    <%= f.number_field :quantity, value: 1%>
    <%= f.hidden_field :event_id, :value => params[:id] %>
    <%= f.submit "Add expense "%>
  <%end%>
  <br>

  <!– Form for new guest  –>
  <div>
    <%= form_for @guest, url: user_event_guests_path(@user,@event,@guest) do |f|%>
      <%= f.collection_select :id, Guest.all, :id, :name, :include_blank => true %>
      <%f.label :name%>
      <%= f.text_field :name%>
      <%= f.hidden_field :event_id, :value => params[:id] %>
      <%=f.submit "Add New Guest"%>
    <%end%>
  </div>

<%end%>

<h2>Guest List</h2>
<ul>
  <%@guests.each do |guest|%>
    <li><%= link_to guest.name, guest_path(guest) %></li>
  <%end%>
</ul>


<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function() {
    let index = parseInt($(".js-next").attr("data-id")) ;
    let userId = parseInt($(".js-next").attr("user-id"));
    $.getJSON("/users/" + userId +"/events" +".json", function(data) {
      $(".eventName").text(data[index]["name"]);
      $(".eventBudget").text(data[index]["budget"]);
      $(".eventLink").attr('href','/users/1/events/8');
      if (data.length-1 === index){
        index = 0
      } 
      index += 1
      $(".js-next").attr("data-id", index);
    });
    return false; 
  });
});
</script>


