<!DOCTYPE html>
<html>
  <head>
    <title>BudgetPlanner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <% if logged_in? %>
      <%= link_to "Home", users_home_path(session[:id])%>
      <%= link_to "Log Out", signout_path, method: :delete %><br><br>
    <% end %>
    <%= yield %>
  </body>
</html>
